@import "tailwindcss";

@theme {
    --color-practicepal-100: #f5f2f2;
    --color-practicepal-200: #feb05d;
    --color-practicepal-400: #2b2a2a;
    --color-practicepal-500: #5a7acd;
}

body {
    /* Use the variables we just made */
    background-color: var(--color-practicepal-100);
    color: var(--color-practicepal-400);
    font-family: var(--font-family-sans); /* Uses Tailwind's default sans */
}

/* Utility to make headings look sharp */
h1,
h2,
h3,
h4 {
    letter-spacing: -0.025em;
}
